.container {
  padding: 0 2rem;
  height: 100%;
  display: flex;
}

.main {
  width: 100%;
  margin: auto 0;
}

.barcodeInput {
  background-color: var(--GRAY-01);
  width: 100%;
  border-radius: 100px;
  border: solid 1px var(--GRAY-02);
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
}
.barcodeInput::placeholder {
  color: var(--GRAY-03);
  font-size: 1rem;
  font-weight: 500;
}

.title {
  text-align: center;
  margin-bottom: 32px;
}

@media (min-width: 1048px) {
  .main {
    padding: 2rem;
    max-width: 700px;
    margin: auto;
    background-color: white;
    border-radius: 8px;    
  }
}
